<div id="page-top">
  <div id="page-top-text">
    <h1 class="header">Welcome to Pantry Packer.</h1>
    <% if user_signed_in? %>
      <h2>Representing <%= current_user.pantry_name %></h2>
    <% end %>
  </div>
</div>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
<h2>This page and the 'view requests' page will be completed for the next prototype. Everything else is complete.</h2>
