<%# Partial for any notices or alerts below the nav bar. %>

<% if notice && request.path != '/'%>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert && request.path != '/'%>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>